h1{
    text-align: end;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
}  

body {
    background-image: url("bg.png");
    text-align: center;
  }

select,form{
    width: 1360px;
    text-align: center;
   height: auto;
}
form{
    padding: 25px;
    color: beige;
}
img{
    width: 250px;
}
bold,p{
    padding: 40px;
    color: white;
    font-size: large;
}

